body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 600px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

label {
    font-size: 20pt;
    font-weight: bold;
}

textarea, input {
    display: block;
}

input[type="submit"] {
    margin-top: 5px;
}